{% extends 'base.html.twig' %}

{% block title %}SymRecipe - Liste cours{% endblock %}

{% block body %}
    <div class="container mt-4">
        {%  for message in app.flashes('success') %}
            <div class="alert alert-dismissible alert-success mt-4">
                {{ message }}
            </div>
        {% endfor %}
        <h1>Liste des lecons</h1>
        {% if not lecons.items is same as ([]) %}
            <h4>{{ lecons.getTotalItemCount }} professeur</h4>
            <table class="table table-hover">
                <thead>
                <tr class="table-secondary">
                    <th scope="col">Numéro</th>
                    <th scope="col">Titre</th>
                    <th scope="col">Code</th>
                    <th scope="col">Heures</th>
                    <th scope="col">Edition</th>
                    <th scope="col">Suppression</th>
                </tr>
                </thead>
                <tbody>
                {% for lecon in lecons %}
                    <tr class="table-dark">
                        <th scope="row">{{ lecon.id }}</th>
                        <td>{{ lecon.titre }}</td>
                        <td>{{ lecon.code }}</td>
                        <td>{{ lecon.heures }}</td>
                        <td>
                            <a
                                    href="{{ path('lecon_edit', { id: lecon.id }) }}"
                                    class="btn btn-info">Modifier
                            </a>
                        </td>
                        <td>
                            <a
                                    href="{{ path('lecon_remove', { id: lecon.id }) }}"
                                    class="btn btn-warning">Supprimer
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="d-flex justify-content-center mt-4">
                {{ knp_pagination_render(lecons) }}
            </div>
        {% else %}
            <h4>Il n'y a aucune lecons !</h4>
        {% endif %}
    </div>
{% endblock %}
